**/_build/
**/autoapi/
**/cneuromax.egg-info/
**/.coverage
**/data/
**/.ipynb_checkpoints/
**/.mypy_cache/
**/*.pyc
**/__pycache__/
**/.pytest_cache/
**/.ruff_cache/
**/.vscode/
WANDB_KEY.txt
test.ipynb
