**/_build/
**/_autosummary/
**/cneuromax.egg-info/
**/.coverage
/data/
**/.ipynb_checkpoints/
**/.mypy_cache/
**/*.pyc
**/__pycache__/
**/.pytest_cache/
**/.ruff_cache/
**/.vscode/
WANDB_KEY.txt
test.ipynb
cneuromax/fitting/neuroevolution/space/imitation.py
test/
test.wav
