[tool.setuptools.packages.find]
include = ["cneuroml"]

[project]
name = "cneuroml"
requires-python = ">=3.10" # Did not test with lower versions
authors = [{ name = "The SIMEXP Laboratory", email = "simexp.lab@gmail.com" }]
description = "The Courtois Neuromod Project's centralized Machine Learning repository"
version = "0.0.1"
dynamic = ["dependencies", "optional-dependencies"]

[tool.setuptools.dynamic]
optional-dependencies.run = {file = ["pyreqs/computer_vision.txt",
                                     "pyreqs/deep_learning.txt",
                                     "pyreqs/hydra_run.txt",
                                     "pyreqs/hyperparameters.txt",
                                     "pyreqs/jupyter.txt",
                                     "pyreqs/neuroevolution.txt",
                                     "pyreqs/shapes.txt",
                                     "pyreqs/slurm.txt",
                                     "pyreqs/wandb.txt"]}
# Don't install both 'dev' & 'run' as their version of 'hydra' will conflict
optional-dependencies.dev = {file = ["pyreqs/computer_vision.txt",
                                     "pyreqs/deep_learning.txt",
                                     "pyreqs/documentation.txt",
                                     "pyreqs/hydra_dev.txt",
                                     "pyreqs/hyperparameters.txt",
                                     "pyreqs/jupyter.txt",
                                     "pyreqs/neuroevolution.txt",
                                     "pyreqs/shapes.txt",
                                     "pyreqs/slurm.txt",
                                     "pyreqs/testing.txt",
                                     "pyreqs/wandb.txt"]}

[tool.black]
line-length = 79

[tool.ruff]
line-length = 79
select = ["ALL"]
ignore = [
    "F722", # Syntax error in forward annotation: {body}
            # https://beta.ruff.rs/docs/rules/#pyflakes-f
            # Disabled to be able to make use of Jaxtyping
            # https://docs.kidger.site/jaxtyping/faq/#flake8-or-ruff-are-throwing-an-error
    "G004", # Logging statement uses f-string
            # https://beta.ruff.rs/docs/rules/#flake8-logging-format-g
            # Disabled to make it easier to log (since prints are disabled)
    "N812", # Lowercase {name} imported as non-lowercase {asname}
            # https://beta.ruff.rs/docs/rules/lowercase-imported-as-non-lowercase/
            # Disabled to be able to run ``import torch.nn.functional as F`` (which is conventional)
    "SLF001", # Private member accessed: {access}
              # https://beta.ruff.rs/docs/rules/private-member-access/
              # Disabled to make use of certain private Lightning classes (ex: Trainer checkpointing)
]


[tool.ruff.pycodestyle]
max-doc-length = 72

[tool.ruff.pydocstyle]
convention = "google"

[tool.ruff.per-file-ignores]

"*_test.py" = [
    "S101",  # Use of assert detected
             # https://beta.ruff.rs/docs/rules/assert/
             # Disabled to be able to use asserts in tests
    "PLR2004", # Magic value used in comparison, consider replacing {value} with a constant variable
               # https://beta.ruff.rs/docs/rules/magic-value-comparison/
               # Disabled to be able to use magic values in tests
]

"conftest.py" = [
    "F401",  # {name} imported but unused; consider using importlib.util.find_spec to test for availability
             # https://beta.ruff.rs/docs/rules/unused-import/
             # Disabled to import fixtures.
]

[tool.doc8]
max-line-length = 79

[tool.mypy]
strict = true
allow_redefinition = true
ignore_missing_imports = true
