name: Build the container image with full dependencies

on:
  pull_request:
    branches: [main]
    paths:
      - containers/**
      - pyreqs/**

jobs:
  container-build:
    runs-on: ubuntu-22.04
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build
        uses: docker/build-push-action@v4
        with:
          push: false
          tags: cneuroml:latest-deps_only-all_deps
