# Runs the pre-commit workflow (formatting & linting)
name: Format & Lint

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  format-lint:
    runs-on: self-hosted
    steps:
      - name: Checkout the GitHub repo
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install pre-commit
        run: python -m pip install pre-commit
      - name: Display pre-commit version
        run: python -m pre_commit --version
      - name: Install pre-commit hooks
        run: python -m pre_commit install
      - name: Run pre-commit hooks on all files
        run: python -m pre_commit run --all-files
